# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Node.js / React (Frontend)
frontend/node_modules/
frontend/dist/
frontend/.DS_Store
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
.eslintcache

# Fichiers d'environnement
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Fichiers de test & logs (sauf le sample fourni pour le prof)
*.log
!sample_proxy_logs.txt
*.apk
rapport_securite.tex

# IDEs et Editeurs
.vscode/
.idea/
*.swp
*.swo
.DS_Store
